* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #1c1c1c;
}
nav {
  background-color: #1c1c1c;
  box-shadow: 0 5px 5px black;
  height: 6vh;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 60px;
  justify-content: flex-end;
}
nav .link {
  color: #fff200;
  text-decoration: none;
}
nav .link p {
  font-weight: 600;
  margin: 0 20px;
}
.signup-container {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  align-items: center;
}
.signup-container h2 {
  color: white;
}
.signup-container p {
  color: white;
}
.signup-container .link {
  color: #fff200;
}
.signup-container form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.signup-container form input {
  height: 42px;
  border-radius: 5px;
  margin: 10px 0;
  border: none;
  padding-left: 12px;
}
.signup-container form div {
  display: flex;
}
.signup-container form div input {
  flex-grow: 1;
}
.signup-container form div .fname-input {
  margin-right: 10px;
}
.signup-container form div .lname-input {
  margin-left: 10px;
}
.signup-container form button {
  background-color: #fff200;
  border: none;
  border-radius: 5px;
  height: 42px;
  margin: 10px 0;
  min-width: 300px;
  font-weight: 600;
}
.signup-container div div {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}
.color-picker {
  position: fixed;
  left: 80vw;
  top: 35vh;
  background-color: #fff200;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
}
.color-picker button {
  margin-top: 6px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.pixel-canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
}
.pixel-canvas-container h2 {
  margin-bottom: 30px;
  color: white;
}
.pixel-canvas-container canvas {
  background-color: white;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-container h2 {
  color: white;
}
.profile-container h3 {
  color: white;
}
.profile-container button {
  background-color: #fff200;
  border: none;
  border-radius: 5px;
  height: 42px;
  margin: 10px 0;
  max-width: 200px;
  font-weight: 600;
}
.profile-container .link {
  text-decoration: none;
  color: #1c1c1c;
}
